:root {
  --primary-color: #5D2E46;
  --secondary-color: #AD6A6C;
  --accent1-color: #D0ADA7;
  --accent2-color: #E8D6CB;
  --heading-font: "Press Start 2P", cursive;
  --paragraph-font: "Roboto", sans-serif;
  --headline-color-on-white: var(--primary-color); 
  --headline-color-on-color: var(--accent2-color); 
  --paragraph-color-on-white: var(--primary-color); 
  --paragraph-color-on-color: #ffffff; 
  --paragraph-background-color: var(--primary-color);
  --nav-link-color: var(--accent2-color);
  --nav-background-color: var(--primary-color);
  --nav-hover-link-color: var(--secondary-color);
  --nav-hover-background-color: var(--accent1-color);
}
body {
  max-width: 960px;
  margin: 0 auto;
  padding: 2em;
  font-size: 18px;
  text-align: center;
}
img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: var(--headline-color-on-white);
}
h2 {
  text-align: center;
}
hr {
  height: 3px;
  margin: 35px 0;
  background: var(--accent1-color);
}
header {
  padding: 1em;
  text-align: center;
  color: var(--paragraph-color-on-white);
  background-color: var(--nav-background-color);
}
header > h1, header > h2 {
  color: var(--headline-color-on-color);
}
p {
  font-family: var(--paragraph-font);
  color: var(--paragraph-color-on-white);
  padding: 1em;
}
.colors {
  width: 100%;
  min-width: 350px;
  margin: 30px auto;
  text-align: center;
}
.colors th {
  background-color: #999;
}
.colors td{
  width: 25%;
  height: 3em;
}
.primary {
  background-color: var(--primary-color);
}
.secondary {
  background-color: var(--secondary-color);
}
.accent1 {
  background-color: var(--accent1-color);
}
.accent2 {
  background-color: var(--accent2-color);
}
p.colored {
  background-color: var(--paragraph-background-color);
  color: var(--paragraph-color-on-color);
}
nav {
  background-color: var(--nav-background-color);
  line-height: 3em;
  text-align: center;
  font-size: 1.2em;
  list-style-type: none;
}
nav a {
  padding:1em;
  min-width: 120px;
  text-decoration: none;
  padding: 10px;
  display: inline-block;
  color: var(--nav-link-color);
}
nav a:hover {
  background-color: var(--nav-hover-background-color);
  color: var(--nav-hover-link-color);
}
.sitemap {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(6, 15%);
  grid-template-rows: 3em 1.5em 3em;
  grid-template-areas: ". . home home . ."
    ". . . top . ."
    ". left left right right .";
}
.sitemap > div {
  text-align: center;
}
.sm-home {
  grid-area: home;
  background-color: #ccc;
  line-height: 3em;
}
.sm-page2 {
  grid-area: left;
  background-color: #ccc;
  line-height: 3em;
}
.sm-page3 {
  grid-area: right;
  background-color: #ccc;
  line-height: 3em;
}
.top {
  grid-area: top;
  border-left: 1px solid;
}
.left {
  grid-area: left;
  border-top: 1px solid;
  border-left: 1px solid;
}
.right {
  grid-area: right;
  border-top: 1px solid;
  border-right: 1px solid;
}
