h1,h2,h3,h4,h5,h6,p {
    margin: 0;
    padding: 0;
}

.header {
    background-color: #333333;
    color: #fff;
    height: 10rem;
    display: flex;
    flex-wrap: wrap;
}

.navigation {
   background-color: #000;
   width: 100%;
}

.navigation ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding-inline: 40px;
}
a {
    color: #fff;
    text-decoration: none;
}

.main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    height: 300px;
}

.main-content {
    background-color: #CCCCCC;
}

.footer {
    width: 100%;
    background-color: #333333;
    color: white;
    text-align: center;
    height: 200px;
}

.footer h3 {
    padding-top: 10px;
}
