body {
  font-family: "Jost", sans-serif;
  font-style: normal;
}
header {
    background-color: #1D4D72;
    /* font-family: Arial, Helvetica, sans-serif; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
main {
    display: block;
}
h1,h2,h3,h4,h5,h6 {
    margin: 0;
} 
h1 {
    color: white;
    font-weight: 300;
    padding: 2rem 0;
}
span {
    display: block;
}
nav {
    width: 100%;
    height: 4rem;
    background-color: #333333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 5rem;
}
nav a {
    text-decoration: none;
    color: #fff;
}

h2 {
    width: 100%;
    text-align: center;
    padding: 2rem 0;
    color: #333333;
}
.main-grid {
    display: grid;
    grid-template-columns: 5fr 3fr;
    gap: 1rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}
.card {
    display: grid;
    grid-template-columns: 5fr 2fr ;
    gap: 1rem;
    border: 1px solid #1D4D72;
    border-radius: 1rem;

}
.card h3 {
    background-color: #1D4D72;
    height: 2rem;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0.5rem;
    grid-column: 1/-1;
    grid-row: 1/2;
    border-radius: 1rem 1rem 0 0;
}
.aboutme-content {
    padding: 1rem;
}

.aboutme-content h4 {
    text-align: center;
    padding: 1rem 0 0 0;
}
.aboutme-content hr {
    color: #33333338;
}
.about-country {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 1rem;
    align-items: center;
}
.about-country img {
    width: 100%;
    object-fit: cover;
}
.about-country .caption {
    font-style: italic;
    font-size: 1rem;
}

footer {
    background-color: #1D4D72;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    margin-top: 3rem;
}
.copyright, .modification {
    display: flex;
    justify-content: center;
    color: white;
    width: 100%;
}
#lastModified {
    padding-left: 1rem;
}