@media (min-width: 1000px) {
    #menu {
        display: none;
    }

    header {
        display: flex;
        justify-content: space-between; 
        align-items: center;
    }

    nav {
        display: flex; 
        flex-direction: row;
        background-color: transparent; 
        gap: 0; 
        grid-column: auto;
    }
    h3 {
        font-size: 1.5rem;
        text-align: center;
    }
    nav a {
        padding: 1rem 1.5rem;
        font-size: 1.3rem;
    }
        .text-area {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        text-align: center;
        gap: 0.5rem;
        min-height: 100px;
    }
    .gallery {
        grid-template-columns: repeat(3, 1fr);
    }
    
 
}